.btn-growtype-search-open {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  opacity: 0.8;

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: 1;
  }
}

.growtype-search-wrapper {
  .btn-growtype-search-close {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 20px;
    transition: all 0.5s;
    opacity: 0.8;

    svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      opacity: 1;
      transition: all 0.5s;
    }
  }

  .btn-growtype-search-submit {
    position: absolute;
    bottom: 0;
    border: none;
    font-size: 28px;
    height: 39px;
    top: 8px;
    right: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: initial;
    padding: 5px;
    background-color: black;
    opacity: 0.8;
    transition: all 0.5s;
    padding-left: 10px;
    padding-right: 15px;
    color: white;

    &:hover {
      opacity: 1;
      transition: all 0.5s;
    }

    .e-label {
      font-size: 16px;
      margin-left: 5px;
    }

    i {
      color: white;
    }

    svg {
      width: 100%;
      height: 100%;

      path {
        fill: white;
      }
    }

    .icon-search {
      display: flex;
      max-width: 30px;
    }

    .icon-loading {
      display: none;
      max-width: 30px;
      position: relative;
      top: 4px;
    }
  }

  &.is-loading {
    .btn-growtype-search-submit {
      padding-left: 10px;
      padding-right: 10px;

      .e-label, .icon-search {
        display: none;
      }

      .icon-loading {
        display: block;
      }
    }
  }
}
