.growtype-search-wrapper {
  position: relative;

  .growtype-search-form {
    position: relative;
  }

  .growtype-search-input {
    min-height: 56px;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 10px 15px;

    &.is-error {
      border: 2px solid red;
    }
  }

  .growtype-search-inner {
    position: relative;
    padding-bottom: 20px;
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
  }

  .e-title-intro {
    color: grey;
    margin-bottom: 8px;
    font-size: 14px;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .growtype-search-wrapper {
    text-indent: 160px;
    overflow: hidden;
    width: 40px;
    height: 30px;
    min-width: initial;
    border: none;
    padding: 0;
    border-radius: 0;
    position: relative;
  }

  &.growtype-search-fixed {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background: #fff;
    box-shadow: 1px 7px 11px 0px #f5f5f5;
    position: fixed;
    display: none;

    .search-main-inner {
      padding-top: 35px;
    }

    #search-form {
      background: transparent;
      font-size: 22px;
      font-weight: 800;
      border: none;
      border-bottom: 1px solid #eceaea;
      box-shadow: none;
      outline: none;
      width: 100%;
      color: #333333;
      border-radius: 0;

      &::placeholder {
        color: #767676;
      }
    }
  }
}

.container .alignfull.wp-block-group:where(.has-background) {
  .growtype-search-inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.growtype-search-results-actions {
  text-align: center;
  padding-top: 30px;
  display: none;
}

.growtype-search-results-btn {
  padding: 10px 35px;
  background: none;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
}
